body {
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width:102%;
    padding-right: 7px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* provides space under the navbar */
.nav-padding{
    padding-bottom: 15px;
}

#container{
    height: auto;
    text-align: center;
    max-width: 100%;
}

#container div{
    width: 19%;
    display: inline-block;
}

#container-footer{
    height: auto;
    text-align: center;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
}
/*This is custom css for navbar*/
#nav-div-left{
    display: block;
    height: 50px;
    max-width: 100%;
    background-color: black;

}
/*This is custom css for navbar floats brand/catagories left*/
#nav-div-left > ul > li{
    float: left;
    list-style-type: none;
}

/*This is custom css for buttons in navbar*/
.my-btn{
     background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
/*This is custom css for buttons in navbar*/
.my-btn:hover{
    background-color:white;
    padding: 13px 32px;
    color:black;
    border:solid;
    border-width:2px;
}

.padding-category{
    padding-top: 34px;
}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #9a9a9a;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}